<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment</title>
    <link rel="stylesheet" href="{{url_for('static',filename='display.css')}}">
</head>
<body>
    <div class="header">
        <h1>AMP Assignment</h1>
    </div>
    <br>
    <form method="get" action="/get_data">
        <div class="button">
            <button class="submit" type="submit"><b>Get My Data</b></button>
        </div>
    </form>
    <br>
    <br>
    {% if data %}
    <table class="table_cls" align="center">
        <thead class="table_header">
            <tr>
                <th scope="col">AQI</th>
                <th scope="col">City</th>
                <th scope="col">Date:Time</th>
                <th scope="col">Temperature</th>
                <th scope="col">Clouds</th>
                <th scope="col">Snowfall</th>
                <th scope="col">Sunrise</th>
                <th scope="col">Sunset</th>
            </tr>
        </thead>
        <tbody class="table_data">
            {% for search in data[1:] %}
            <tr align="center">
                <td> {{search[data[0].index('aqi')]}} </td>
                <td> {{search[data[0].index('city_name')]}} </td>
                <td> {{search[data[0].index('datetime')]}} </td>
                <td> {{search[data[0].index('temp')]}} </td>
                <td> {{search[data[0].index('clouds')]}} </td>
                <td> {{search[data[0].index('snow')]}} </td>
                <td> {{search[data[0].index('sunrise')]}} </td>
                <td> {{search[data[0].index('sunset')]}} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</body>

</html>
